/* General setup */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* Layout */

main {
    overflow:auto;
    min-width:45rem;
    
}

section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}

.long-list {
    margin-top:0;
}

nav {
    float: left;
    width:11.25rem;
}

footer {
    clear: both;
    margin-top:1.5rem;
}

section, aside, nav, footer {
  padding: .5rem;
}

/* header and footer */

header, footer {
  border-top: .125rem solid #33658A;
  border-bottom: .125rem solid #33658A;
}

/* ------ START WRITING YOUR CODE BELOW THIS LINE ------ */

/* NO changes should be made to any of the code above. */

/* NOTE: While you will be using some of the same CSS properties, the VALUES 
   may need to be different in order to style the page correctly. */


@font-face {
    font-family: 'CustomFont1';
    src: url('path/to/font1.woff2') format('woff2'),
         url('path/to/font1.woff') format('woff');
   
}

@font-face {
    font-family: 'CustomFont2';
    src: url('path/to/font2.woff2') format('woff2'),
         url('path/to/font2.woff') format('woff');
  
}

:root,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    font-family: 'CustomFont1', sans-serif;
}

p + h2 + p {

}


a {
    color: blue; 
}

a:link,
a:visited,
a:focus,
a:hover {
}


ol,
ul {
 
}

.long-list:hover {
 
}

nav {

}

nav a {
  
}

nav a:focus,
nav a:hover,
nav a:active {
  
}


footer {

}  


